@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');

/*Para toda la pagina*/
* {
    margin: 0px;
    font-family: 'Jost';
}
/*Header de la pagina*/
.header {
    background-color: #FF7F99;
    display: flex;
    justify-content: space-between;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

.title {
    border: none;
    margin: 30px;
    margin-left: 40px;
    color: white;
    text-decoration: none;
}

.button {
    border: none; 
    margin: 35px;
    font-size: 18px;
    color: white;
    justify-content: center;
    background-color: #FF7F99;
}

.buttonContact {
    background-color: transparent;
    border: #FFCA41 2px solid;
    font-size: 20px;
    color: white;
    margin-right: 50px;
    border-radius: 30px;
}

.buttonContact:hover {
    background-color: #FFCA41;
}

.button:hover {
    background-color: #FFCA41;
}


/*main*/
/*CSS para el main*/
main {
    padding: 20px;
    margin: 0px 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
}


.avatarImg {
    background-color: #ff7f99;
    border-radius: 272px 0 272px 272px;
    margin-top: 40px;
    margin-left: 200px;
    padding: 10px 50x;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
  }
  
/*Div parte derecha (informacion principal)*/

h2 {
    font-size: 96px;
    line-height: 70px;
    font-weight: 400;
    color: #FF7F99;
}
.Contact-info {
    color: #FF7F99;
    font-size: 48px;
    margin-right: 70px;
    padding: 0px;
    margin-left: 100px;
    margin-top: 100px;
    text-align: justify;
}

/*Especialistas informaticos*/

.especialistas {
    margin-top: 30px;
    margin-left: 10px;
}
.information {
    font-size: 20px;
    margin: 0px;
    color: black
}

.text {
    color: black;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-right: 300px;
}

.personalContact {
    margin-top: 10px;
    margin-left: 10px;
}

.LinkedinPrin {
    width: 45px;
}

.avatarMile {
    background-color: #ff7f99;
    border-radius: 500px 0 500px 500px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 37px 150px;
}


/*Te llamamos*/
.contact {
    background-color: #FFCA41;
    margin-top: 20px;
    border: none;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/*CSS para footer*/
footer {
    background-color: #FF7F99;
    display: flex;
    justify-content: space-around;
}

.dev {
    margin-top: 20px;
    width: 277px;
}

p {
    margin-left: 55px;
}

.name {
    color: white;
    margin-left: 100px; 
}

.Linkedin {
    margin-left: 110px;
    padding: 10px;
    width: 45px;
}