@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');


/*Para toda la pagina*/
* {
    margin: 0px;
    font-family: 'Jost';
}
/*Header de la pagina*/
.header {
    background-color: #FF7F99;
    display: flex; 
    justify-content: space-between;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

.logo {
    height: 70px;
}
.button {
    border: none; 
    margin: 35px;
    font-size: 18px;
    color: white;
    justify-content: center;
    background-color: #FF7F99;
    padding: 10px 30px;
}

.buttonContact {
    background-color: transparent;
    border: #FFCA41 2px solid;
    font-size: 20px;
    color: white;
    margin-right: 50px;
    border-radius: 30px;
    padding: 10px 30px;
}

.buttonContact:hover {
    background-color: #FFCA41;
}

.button:hover {
    background-color: #FFCA41;
    border-radius: 30px;
}


/*main*/
/*CSS para el recuadro blanco*/
main {
    padding: 20px;
    margin: 0px 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
}


.avatar {
    height: 650px;
    background-color: #ff7f99;
    border-radius: 370px 0 370px 370px;
    margin-top: 40px;
    margin-left: 300px;
    padding: 30px 70x;
    align-items: center;
    justify-content: center;
    display: flex;
  }


.avatarImg {
    height: 630px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*Div parte derecha (informacion principal)*/

h2 {
    font-size: 100px;
    line-height: 70px;
    font-weight: 400;
    color: #FF7F99;
}
.Contact-info {
    color: #FF7F99;
    font-size: 48px;
    margin-right: 70px;
    padding: 0px;
    margin-left: 100px;
    margin-top: 100px;
    text-align: justify;
}

/*Especialistas informaticos*/

.especialistas {
    margin-top: 30px;
}
.information {
    font-size: 20px;
    margin: 0px;
    color: black
}

.text {
    color: black;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
    margin-right: 300px;
}

.PersonalContact {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
}

.LinkedinPrin {
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border-radius: 5px;
    border-bottom: 5px;
}


/*Te llamamos*/
.contact {
    background-color: #FFCA41;
    border: none;
    width: 230px;
    height: 50px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/*Footer*/
footer {
    background-color: #FF7F99;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.dev {
    margin-top: 20px;
    width: 277px;
}

.especialidad {
    display: flex;
    justify-content: center;
}

.name {
    display: flex;
    justify-content: center;
    color: white;
}

.Linkedin {
    margin-left: 110px;
    padding: 10px;
    width: 45px;
}

/*Formulario*/

.contact-form {
    background-color: #FFCA41;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 0 auto;
    margin-left: 100px;
    margin-top: 50px;
    height: 550px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: solid 1px black;
  }
  
  .contact-form textarea {
    border: solid 1px black;
    height: 100px;
  }
  
  .contact-form button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border: solid 1px black;
  }
  
  .contact-form button:hover {
    background-color: #ffe78c;
  }

  .footer-form {
    position: relative;
    width: 100%;
    height: 150px;
    background-color: #FF7F99;
  }