/*chuleta
Margin: establece el margen para los cuatro lados
Padding: propiedad o relleno que se crea alrededor del contenido
background-color: color de fondo
display: nos ayuda a controlar dónde se va a ver un elemento HTML dentro de la pantalla

*/

/*Para toda la pagina*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Vina Sans', cursive;
}

/*Header de la pagina*/
.header {
    background-color: #FF7F99;
    display: flex; /*crea un contenedor flexible que organiza los elementos hijos de manera eficiente en el eje principal y transversal*/
    justify-content: space-between; /*Permite distribuir los elementos hijos del contenedor a lo largo del eje principal con un espacio igual entre ellos*/
    width: 1800px;
    height: 100px;
}

.title {
    border: none;
    margin: 30px;
    margin-left: 40px;
    color: white;
}

.button {
    border: none; 
    margin: 35px;
    font-size: 18px;
    color: white;
    justify-content: center;
    background-color: #FF7F99;
}


/*main*/
/*CSS para el recuadro blanco*/
main {
    padding: 20px;
    margin: 0px 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
}

/*DIV parte izquierda (avatar grupal)*/
.avatarImg {
    margin-top: 50px;
    width: 500px;
    height: 500px;
}

/*Div parte derecha (informacion principal)*/
.Contact-info {
    color: #FF7F99;
    font-size: 48px;
    margin-top: 30px;
    margin-right: 70px;
    padding: 10px;
}

/*Especialistas informaticos*/
.information {
    font-size: 18px;
    margin: 0px;
    color: black
}

/*Te llamamos*/
.contact {
    background-color: #FFCA41;
    margin-top: 20px;
    border: none;
    width: 180px;
    height: 60px;
    border-radius: 30px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

/*CSS para footer*/
footer {
    padding: 40px;
    margin-top: 100px;
    background-color: #FF7F99;
    width: 1720px;
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.dev {
    width: 277px;
}

p {
    margin-left: 55px; /*esto seguro que hay otra forma de hacerlo mejor*/
}

.name {
    color: white;
    margin-left: 100px; /*esto seguro que hay otra forma de hacerlo mejor*/
}

.Linkedin {
    margin-left: 110px; /*esto seguro que hay otra forma de hacerlo mejor*/
    padding: 10px;
    width: 45px;
}